/*
 *
 * Default/application wide settings
 *
 */

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -box-sizing: border-box;
}


body, html, main {
    height: 100%;
    margin: 0;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
    margin: 1em auto;
    max-width: 1100px;
    width: 85%;
}


label {
    font-size: 1em;
}





.supplier-frame {
    display: flex;
    flex-direction: column;
}


.input {
    flex-direction: row;
    margin: .25em;
}

.input > * {
    margin: .25em;
}

.input-label {
    display: block;
    float: left;
    width: 120px;

}

.input-text {
    width: 20em;
}

.submit-button {
    width: 5em;
}




.address-box {

}

#route {
    width: 20em;
}

